body {
    background-color: wheat;
}

h1 {
    text-align: center;
}
#jeu {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 30% 30% 30%;
    height: 300px;
}

.case{
    border: solid;
    background-color: blueviolet;
    padding: 2px;
}

.joueur1 {
    background-color: blue;
}

.joueur2 {
    background-color: red;
}
